.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background-color: unset;
}

.container :global(.vtex-button):hover {
  transition: all 0.3s;
  opacity: 0.6;
}

.container :global(.vtex-button)::before {
  content: url("assets/svg/Account-Icon.svg");
  padding-right: 10px;
  transform: scale(0.9);
}

.container :global(.vtex-button)::after {
  content: "Acceder a mi cuenta";
  font-size: 10px;
  line-height: 12.57px;
  font-family: "Quicksand";
  width: 60px;
}

.container :global(.vtex-button) {
  border: none;
  margin-left: 40px;
  padding: 0px 30px;
  text-decoration: none;
  color: #536271;
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1080px) {
  .container :global(.vtex-button) {
    margin-left: 0;
    padding: 0;
  }
}

.container :global(.vtex-button__label) {
  display: none;
}

.sendButton :global(.vtex-button) {
  background-color: #ff0063;
  border-color: #ff0063;
  border-radius: 5px;
  height: 40px;
}

.sendButton :global(.vtex-button):hover {
  background-color: #231032;
  border: none;
}

.emailPasswordOptionBtn :global(.vtex-button),
.accessCodeOptionBtn :global(.vtex-button) {
  background-color: #231032;
  color: #fff;
}

.accessCodeOptionBtn :global(.vtex-button):hover {
  border-color: #ff0063;
}
.emailPasswordOptionBtn :global(.vtex-button):hover {
  border-color: #ff0063;
}

.contentAlwaysWithOptions {
  flex-direction: column;
}

.contentAlwaysWithOptions {
  background-color: transparent;
}

.contentFormVisible {
  padding: 0;
  width: 100%;
}
