.expandIcon {
  color: #727273;
}

:global(.vtex-store-drawer-0-x-openIconContainer)::before {
  content: url("assets/svg/MenuIcon.svg");
  position: relative;
  right: 2px;
}

:global(.vtex-minicart-2-x-minicartTitle)::before {
  content: url("assets/svg/Car-Icon.svg");
  font-size: 25px;
  margin-right: 15px;
}

:global(.vtex-slider-layout-0-x-sliderRightArrow)::after {
  content: url("assets/svg/Arrow-Icon-Left.svg");
  transform: rotate(180deg);
}

:global(.vtex-slider-layout-0-x-sliderLeftArrow)::before {
  content: url("assets/svg/Arrow-Icon-Left.svg");
}

.cartIcon {
  background: url("assets/svg/Car-Icon.svg") !important;
  background-repeat: no-repeat !important;
  box-sizing: border-box;
  color: transparent;
  padding: 18px 19px;
}

@media only screen and (max-width: 1024px) {
  .cartIcon {
    position: relative;
    left: 100%;
  }
}
