.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

.discountInsideContainer {
  background-color: #e76d1e;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* BEGIN - home */

.imageElement--image-categories {
  filter: brightness(90%);
  height: 290px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.imageElement--banner2-home-2 {
  padding-right: 4px;
}

.imageElement--banner2-home-1 {
  padding-left: 4px;
}

:global(.vtex-flex-layout-0-x-flexColChild--info__shelf) .productBrandName {
  font-size: 15px;
  line-height: normal;
  color: #231032;
  font-family: "Quicksand";
  text-align: left;
  font-style: normal;
  font-weight: 600;
}

.imageElement--banner-home {
  /* object-fit: contain;
  width: 100%;
  height: 100%; */
}

/* END - home */

/* BEGIN - header */

.searchBarContainer {
  padding-top: 9px !important;
  width: 900px;
}

:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input-prefix__group) {
  border-radius: 25px;
  background: #f4f4f4;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  border-color: transparent;
  height: 45px;
}

.suffixWrapper {
  background-color: #4d4e56;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  position: relative;
  left: 15px;
}

.searchBarIcon--search {
  content: url("assets/svg/Buscar-Icon.svg");
  transform: scale(0.5);
  position: relative;
  right: 2px;
}
.searchBarIcon--clear {
  content: url("assets/svg/Close-Btn.svg");
  transform: scale(0.8);
  position: relative;
  right: 1px;
}

/* END - header */

.imageElement--image-minicart__empty {
  max-width: 250px;
  margin: 60px auto;
}

@media only screen and (max-width: 1024px) {

}

/* BEGIN - minicart */

/* BEGIN - footer */

.imageElementLink--icon-social-networks {
  margin: 0px 32px;
}

.imageElement--image-footer-powered {
  padding: 0px 50px;
  margin-left: 30px;
}

.imageElementLink--icon-social-networks__footer {
  padding: 0px 20px;
}

/* END - footer */

@media only screen and (max-width: 1024px) {
  .newsletter .container {
    padding: 140px;
  }
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
  .autoCompleteOuterContainer :global(.vtex-input__suffix) {
    border-radius: 0 25px 25px 0;
    background: #f4f4f4;
  }
  .autoCompleteOuterContainer :global(.vtex-styleguide-9-x-input) {
    border-radius: 25px 0 0 25px;
    background: #f4f4f4;
  }

  .autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
    border-color: transparent;
    height: 45px;
  }
  .suffixWrapper {
    background-color: #4d4e56;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    position: relative;
    left: 15px;
  }
  .searchBarIcon--search {
    content: url("assets/svg/Buscar-Icon.svg");
    transform: scale(0.5);
    position: relative;
    right: 2px;
  }
  .searchBarIcon--clear {
    content: url("assets/svg/Close-Btn.svg");
    transform: scale(0.8);
    position: relative;
    right: 1px;
  }
  .searchBarContainer {
    padding: 0px 15px 9px 15px;
    width: auto;
  }

  .imageElement--image-minicart__empty {
    width: 200px;
  }

  .imageElement--image-categories {
    height: 392px;
  }
}

/* BEGIN - pdp */

.skuSelectorInternalBox {
  background-color: #efefef;
  border-radius: 10px;
  border-color: #efefef;
  border-width: 2px;
}

.skuSelectorInternalBox:hover {
  border-color: #efefef;
}

.skuSelectorItemTextValue {
  color: #536271;
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.skuSelectorSelectorImageValue,
.skuSelectorName {
  color: #536271;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.skuSelectorName::before {
  content: "Selecciona el ";
}

.sku-selector {
  margin: 0px;
}

.productBrand {
  color: #231032;
  font-family: "Quicksand";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.diagonalCross{
  background-color: #fff;
  border: 2px solid #EFEFEF;
  border-radius: 10px;
}


/* END - pdp */
