.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #ffffff;
  margin-top: 10px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 430px;
}

/* BEGIN - header */

.slideChildrenContainer--sliderHeaderTop {
  background-color: #231032;
}
/* END - header */

/* BEGIN - Body */

.imageElement--carousel {
  margin-bottom: 40px;
  width: 100%;
}

.paginationDotsContainer--carousel {
  margin-bottom: 15px;
}

.paginationDot {
  background-color: #ffffff;
  width: 15px !important;
  height: 15px !important;
  border: 2px solid #53626c;
}

.paginationDot--isActive {
  background-color: #53626c;
  width: 15px !important;
  height: 15px !important;
}

.slideChildrenContainer--spacehome {
  padding: 0 10px;
}

.caretIcon {
  color: transparent;
}

.sliderArrows {
  transform: scale(0.8);
}

.sliderRightArrow--carousel,
.sliderLeftArrow--carousel {
  padding: 0px;
  margin: 0px;
}

.sliderRightArrow--carousel {
  right: -5px;
  position: absolute;
}

.sliderLeftArrow--carousel {
  left: -5px;
  position: absolute;
}

.sliderRightArrow--collection-home,
.sliderRightArrow--categories-home {
  right: -4%;
  position: absolute;
}

.sliderLeftArrow--collection-home,
.sliderLeftArrow--categories-home {
  left: -4%;
  position: absolute;
}

.sliderRightArrow--shelf {
  right: -5%;
  position: absolute;
}

.sliderLeftArrow--shelf {
  left: -5%;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .sliderArrows {
    transform: scale(0.6);
  }

  .sliderRightArrow--collection-home,
  .sliderRightArrow--categories-home {
    right: -1.3%;
    position: absolute;
  }

  .sliderLeftArrow--collection-home,
  .sliderLeftArrow--categories-home {
    left: -1.1%;
    position: absolute;
  }

  .sliderRightArrow--benefit-mobile {
    right: 1px;
    position: absolute;
    top: 27px;
  }

  .sliderLeftArrow--benefit-mobile {
    left: 1px;
    position: absolute;
    top: 30px;
  }

  .imageElement--carousel {
    margin-bottom: 0;
  }
}
/* END - Body */

/* BEGIN - Search */

/* END - Search */
