.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #ffffff;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  margin-bottom: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 430px;
}

/* BEGIN - header */

.slideChildrenContainer--sliderHeaderTop {
  background-color: #231032;
}
/* END - header */

/* BEGIN - Body */

.imageElement--carousel {
  margin-bottom: 40px;
  width: 100%;
}

.paginationDotsContainer--carousel {
  margin-bottom: 15px;
}

.paginationDot {
  background-color: #ffffff;
  width: 15px !important;
  height: 15px !important;
  border: 2px solid #53626c;
}

.paginationDot--isActive {
  background-color: #53626c;
  width: 15px !important;
  height: 15px !important;
}

.slideChildrenContainer--spacehome {
  padding: 0 10px;
}

.caretIcon {
  color: #fff;
  background-color: #231032;
  border-radius: 50%;
  padding: 7px;
}

/* END - Body */

/* BEGIN - Search */

/* END - Search */
