.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background-color: unset;
}

.container :global(.vtex-button):hover {
  transition: all 0.3s;
  opacity: 0.6;
}

.container :global(.vtex-button)::before {
  content: url("assets/svg/Account-Icon.svg");
  padding-right: 10px;
  transform: scale(0.9);
}

.container :global(.vtex-button)::after {
  content: "Acceder a mi cuenta";
  font-size: 10px;
  line-height: 12.57px;
  font-family: "Quicksand";
  width: 60px;
}

.container :global(.vtex-button) {
  border: none;
  margin-left: 40px;
  padding: 0px 30px;
  text-decoration: none;
  color: #536271;
  font-family: "Quicksand";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container :global(.vtex-button__label) {
  display: none;
}
