.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRow--menu-header {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
}

.flexRowContent--menu-header {
  display: flex;
  justify-content: center;
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #ffffff;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0;
  background-color: #ffffff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #0f3e99;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

/* BEGIN - home */

.flexRow--detach-categories-container {
  margin: 1.5rem 0;
}

.flexRowContent--container-text-link {
  display: flex;
}

.flexColChild--containerCol-text-seo__mobile {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 50px 0px;
}

.flexRowContent--content-benefits .stretchChildrenWidth:first-child {
  width: 30% !important;
}

.flexRowContent--content-benefits .stretchChildrenWidth:last-child {
  width: 67% !important;
}

.flexRowContent--content-benefits {
  max-width: 365px;
  margin: 15px auto 35px auto;
  background-color: #231032;
  padding: 15px 0px 15px 25px;
}

.flexRowContent--containerRow-banners-home {
  margin: 7px 0px;
}

.flexRowContent--containerRow-text-seo {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--container-text-seo {
  margin: 35px 0px 46px 0px;
}

.flexColChild--info__shelf {
  height: 100%;
}

.flexRow--info__shelf,
.flexColChild--info__shelf,
.flexRowContent--info__shelf {
  height: 100%;
}
.flexRow--info__shelf {
  position: relative;
  display: flex;
}

.flexRow--content__info__shelf {
  border-top: unset;
}

.flexCol--info__shelf {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
}

.flexCol--info__shelf .flexColChild--info__shelf:last-child {
  width: 100% !important;
}

.flexColChild--info__shelf :global(.vtex-button) {
  margin: 10px 0;
  border-radius: 25px;
  background-color: #231032;
  border-color: #231032;
}

.flexColChild--info__shelf :global(.vtex-button):hover {
  background-color: #ff0063;
  border-color: #ff0063;
}

.flexRowContent--info__shelf {
  padding-top: 15px;
}

.flexColChild--info__shelf
  :global(.vtex-add-to-cart-button-0-x-buttonText--shelf) {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold !important;
}

.containerCol-banners-home {
  height: auto;
  width: auto;
}
@media screen and (max-width: 1024px) {
  .flexColChild--info__shelf :global(.vtex-button__label) {
    padding: 0 4px !important;
  }
  .flexColChild--info__shelf
    :global(.vtex-add-to-cart-button-0-x-buttonText--shelf) {
    font-size: 12px;
    line-height: 18px;
    text-transform: none;
    font-family: "Quicksand";
  }
  .flexRowContent--info__shelf {
    min-height: 200px;
  }
  .flexRowContent--info__shelf .stretchChildrenWidth:first-child {
    height: 100%;
  }
  .flexCol--info__shelf {
    margin-top: 0;
  }
}
/* END - home */

/* BEGIN - footer */

.flexRowContent--footer__content {
  padding-top: 40px;
  padding-bottom: 20px !important;
}

.flexRowContent--footer__content {
  max-width: 1250px;
  margin: 0 auto;
}

.flexRowContent--footer__content .stretchChildrenWidth:first-child {
  justify-content: flex-start;
}

.flexRow--footer__content {
  background-color: #f5f5f5;
}

.flexRow--container-payment-methods-social-networks {
  background-color: #2a1e3b;
  border: 1px solid #2a1e3b;
}

.flexRow--container-logo-footer {
  background-color: #536271;
  border: 1px solid #536271;
  padding: 15px 0px 24px;
}

.flexRowContent--paymentRow-methods-social-networks {
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.flexCol--colSuperIntendecia,
.flexCol--container-social-networks-desktop,
.flexCol--payment-methods {
  width: 300px !important;
}

.flexColChild--container-social-networks-desktop,
.flexColChild--payment-methods,
.flexColChild--colSuperIntendecia {
  display: flex;
  justify-content: center;
}

.flexRowContent--container-social-networks {
  display: flex;
}

.flexCol--content-footer {
  padding: 15px 0px;
}

.flexRow--menu-row {
  background-color: #2a1e3b;
}

.flexRowContent--vtex__massive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow--vtex__massive {
  margin: 0 auto;
}

.flexRowContent--credits-powered {
  max-width: 1250px;
  margin: 10px auto;
}

.flexRow--credits-powered {
  background-color: #231032;
  padding: 10px 0;
}

.stretchChildrenWidth--powered-footer {
  width: 5% !important;
}

@media only screen and (max-width: 1024px) {
  .flexRowContent--footer__content .stretchChildrenWidth {
    width: 25% !important;
  }

  .flexRowContent--content-benefits .stretchChildrenWidth:first-child {
    justify-content: flex-end;
  }

  .flexRowContent--content-benefits .stretchChildrenWidth:last-child {
    align-items: center;
    padding-left: 30px;
  }

  .flexRowContent--content-benefits {
    max-width: 394px;
    width: 394px;
    padding: 20px 0px 20px 25px;
    display: flex;
  }
}
/* END - footer */

/* BEGIN - product */

.flexRowContent--row-buy-button .stretchChildrenWidth:first-child {
  width: 35% !important;
}

.flexRowContent--row-buy-button .stretchChildrenWidth:last-child {
  width: 65% !important;
  height: 58px;
}

.flexRowContent--rating-list-btn-pdp .stretchChildrenWidth:first-child {
  width: 80% !important;
}

.flexRowContent--rating-list-btn-pdp .stretchChildrenWidth:last-child {
  width: 10% !important;
}

.flexRowContent--row-buy-button,
.flexRowContent--rating-list-btn-pdp {
  justify-content: space-between;
}

.flexRowContent--rating-list-btn-pdp {
  margin: 13px 0px 36px;
}

.flexRowContent--rating-list-btn-pdp
  :global(.vtex-reviews-and-ratings-3-x-loginLink) {
  display: none;
}

.flexRowContent--rating-list-btn-pdp
  :global(.vtex-reviews-and-ratings-3-x-stars) {
  font-size: 35px;
}

.flexRowContent--rating-list-btn-pdp
  :global(.vtex-reviews-and-ratings-3-x-summaryTotalReviews) {
  font-size: 25px;
}

.flexRowContent--row-buy-button :global(.vtex-button) {
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  background-color: #231032;
  border-color: #231032;
}

.flexRowContent--row-buy-button :global(.vtex-button):hover {
  background-color: #ff0063;
  border-color: #ff0063;
}

.flexRow--row-buy-button {
  margin-left: 10px;
}

.flexRowContent--row-buy-button :global(.vtex-button__label)::before {
  content: url("assets/svg/Car-Icon-White.svg");
  padding-right: 8px;
}

.flexRow--container-product-reviews {
  margin: 40px 0px;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-container) {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
  grid-column: 1;
  grid-row: 1/1;
  margin: 0px;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-reviewsRating) {
  grid-column: 1;
  grid-row: 2/2;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-graphContent) {
  grid-column: 1;
  grid-row: 3/3;
  width: 90%;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) {
  grid-column: 1;
  grid-row: 4/4;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
  grid-column: 2;
  grid-row: 1/1;
  width: 60%;
  justify-content: space-between;
}

.flexRowContent--container-product-reviews
  :global(.vtex-reviews-and-ratings-3-x-reviewCommentsContainer) {
  grid-column: 2;
  grid-row: 2/2;
}

.flexRowContent--container-product-reviews :global(.vtex-dropdown__container) {
  background-color: #e0e0e0;
  width: 180px;
  border-radius: 10px;
  color: #536271;
  text-align: center;
  font-family: "Quicksand";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media only screen and (max-width: 1024px) {
  .flexRowContent--product--prices--container .stretchChildrenWidth,
  .flexRowContent--product--prices--container
    .stretchChildrenWidth
    :global(.vtex-product-price-1-x-sellingPrice) {
    text-align: left;
  }

  .flexRowContent--container-product-reviews
    :global(.vtex-reviews-and-ratings-3-x-container) {
    display: block;
  }

  .flexRowContent--container-product-reviews
    :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
    width: 100%;
  }

  .flexRowContent--row-buy-button {
    display: flex;
  }

  .flexRowContent--row-buy-button :global(.vtex-button) {
    font-size: 16px;
  }

  .flexRowContent--row-buy-button :global(.vtex-button__label) {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
  }

  .flexRow--row-buy-button {
    margin: 0px;
  }

  .flexRowContent--row-buy-button .stretchChildrenWidth:first-child {
    width: 40% !important;
  }

  .flexRowContent--row-buy-button .stretchChildrenWidth:last-child {
    width: 80% !important;
    height: 54px;
  }

  .flexRowContent--product--prices--container {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--product--prices--container .stretchChildrenWidth {
    padding: 0 12px 0 0;
    margin: 0;
  }
}
/* END - product */

.flexRowContent--content__minicart__footer {
  display: flex;
  flex-direction: column;
}

.flexRowContent--content__minicart__footer .stretchChildrenWidth {
  width: 100% !important;
}

