.container {
  max-width: 96rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #536271;
}

.star--empty {
  color: #536271;
}

.reviewsRatingCount,
.reviewsRatingAverage {
  color: #536271;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.graphContainer {
  margin-bottom: 0px;
}

.loginLink {
  background-color: #536271;
  max-width: 743px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

:global(.vtex-reviews-and-ratings-3-x-graphBar) {
  background-color: #536271;
}
:global(.vtex-reviews-and-ratings-3-x-graphTextLabel) {
  color: #536271;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

:global(.vtex-reviews-and-ratings-3-x-graphBarPercent) {
  color: #536271;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: -60px;
}

.graphTextLabel {
  color: #536271;
  font-family: "Quicksand";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
