.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.priceContainer {
  display: flex;
  align-items: flex-start;
}

.brandName {
  color: #353835;
  font-family: "Quicksand";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sellingPrice {
  padding: 0px;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0;
}

.container--principal__shelf {
  position: relative;
}
.containerNormal--principal__shelf {
  padding: 0 !important;
}

@media only screen and (max-width: 1024px) {
  :global(.vtex-product-summary-2-x-image) {
    height: 100% !important;
  }
}
