.msv_stiContainerSlider .sliderTrack {
  gap: 10px;
}

.msv_stiContainerContent {
  text-decoration: none;
}

.msv_stiTextSlider {
  text-align: center;
  border: none;
  margin: 0 auto;

  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.msv_stiTextSlider .paragraph {
  background-color: #231032;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  padding: 3px 3rem;
}
